---
import Layout from "../layouts/Layout.astro";
import { galleryImages } from "../lib/gallery";
---

<Layout>
	<section id="about" class="about flex flex-col items-center min-h-screen">
		<img
			src="/images/image.png"
			class="max-sm:max-w-sm max-sm:mt-24 sm:max-w-screen-sm sm:mt-12 w-fit p-4"
		/>

		<div class="row flex justify-around leading-10 sm:-mt-32 max-sm:-mt-24">
			<div class="content flex flex-col">
				<hr class="h-px my-8 bg-gray-200 border-0" />

				<h3 class="text-vyoma-blue">India Pilgrimage Tourism Information Travel Guide</h3>
				<p class="mx-2">
					Isn't life actually this way? In The process of learning about themselves and their Creator along with the purpose they are meant to serve with their life, people learn about vice and virtue. However, even after receiving spiritual education since the day of their conception, they fall into the rut of committing mistakes and sins, which later leads to performing penance as they prefer. Taking a sacred journey—a pilgrimage tour is only one of the many, yet the most preferred way of redemption, especially when it is India that a pilgrim is wandering to. The land of versatility - India is second to none, especially when it becomes an object of study, analysis, and attention, all because of the different religions to which it serves as an amalgamating pot. Every religion has its significance and a proposed way of life to live it as ideally as possible. It is possible to get a glimpse of each of them and revel in the rich knowledge, the way followers of different faiths try to connect with their Creator at various pilgrimage sites in India.

Muslims can spread their praying carpets, close their eyes chanting hymns from the Quran with palms spread in worship of Allah Almighty in any of the great mosques found in different corners of the country. Hindus can embark on an arduous journey to holy places like Vaishno Devi, Amarnath, and Chardham, or they can join their hands in devotion and perform various rituals during their visit to temples where God is believed to have manifested Himself in different forms and incarnations like Jyotirlingas, Saktipeeths, etc. Sikhs can choose among the different Gurudwaras set up by their Gurus, beginning with Guru Nanak, just as the Christians can find a Church that serves their spiritual and religious needs. Jain Tirthankars, on the other hand, have left enough worshiping sanctities where peace is sought after by followers of Jainism, like the monasteries, gompas, and stupas that stand proud to guide those who seek to be guided by the preaching and teachings of Buddhism. Pilgrimage holidays proffer the piece of life that seems lost in materialism sometimes, with entertainment as well along with enlightenment as a part of holy festivals/processions one participates in.

The mind can still search for answers to questions that most of them dread to ask for the fear of being lost in the lack of wisdom beyond religious constraints. The answer comes in the form of Sufi sites of worship, Baha'i way of thinking, Spiritual Ashrams, places like Shirdi and Puttaparthi, etc., that might give just the peace you longed for. Nothing happens without cause, and a pilgrimage tour in India only strengthens faith in life, humanity, and God. Take one today to acknowledge the fact yourself!
				</p>
				<h3 class="text-vyoma-blue">Hindu Pilgrimage</h3>
				<p class="mx-2">
					With more than half of the country's population following Hinduism, India finds itself in abundance with Hindu pilgrimage destinations. The land of Lord Rama, Lord Shiva, and Lord Vishnu, among many other gods of Hinduism, the country has numerous temples and places of worship dedicated to them. Finding mentions in the holy scripts of Mahabharata, Ramayana, and the vedas, pilgrimage destinations in India attract a number of devotees over the year for their religious and spiritual significance. As a result, there are many religious circuits that are formed to aid devotees in their religious tourism. Some of the important religious tours that are taken up by the devotees of Hinduism include the Char Dham Yatra, which includes covering the pilgrimage sites of Badrinath-Kedarnath, Dwarka, Jagannath Puri, and Rameshwaram; Chota Char Dham covering the sites of Yamunotri, Gangotri, Kedarnath, and Badrinath; and other sites like Ayodhya, Mathura, Haridwar, and Varanasi. Apart from these, the riverfronts of Prayagraj, Haridwar, Nashik, and Ujjain, are also some of the major holy places in India and are known for organizing the holy gathering of the Kumbh Mela, attracting sages, ascetics, devotees, and enthusiastic visitors alike. Having no dearth of Hindu pilgrimage sites to visit in the country, these sites also offer a chance to learn more about the history and culture of India.
				</p>
				<h3 class="text-vyoma-blue">Buddhist Pilgrimage</h3>
				<p class="mx-2">
					Originated over 2,500 years among the Indian subcontinent, Buddhism now stands as one of the major religions of the world. When it comes to it, India has been at the center of cultivation and spread of the religion. It was in India, that the Buddha attained enlightenment, gave his first sermon, lived as a monk spreading his teachings, and later attained mahaparinirvana and passed away, leaving the earthly abode. These places, therefore, are considered very holy and in high reverence by the Buddhists who include this on a Buddhist pilgrimage tour to the country, and also form part of the popular attractions of the Buddhist circuit. Important destinations that are covered as part of Buddhist tourism include Bodh Gaya, Sarnath, Shravasti, Kushinagar, among many others. Apart from these, India is also home to other sites of importance that include monasteries such as Namgyal, Tawang, and Hemis monasteries, and historic, excavated sites of Nalanda, Sankisa, Sanchi Stupa, and the Diamond Triangle of Odisha. These pilgrimage destinations belonging to Buddhism not only are important from a religious point of view, but are also important milestones that help us better understand history. A pioneer of Buddhism that gave way to understanding the world in a different light, the Buddha made it his mission to lessen the pain caused by the sufferings of the world.
				</p>
				<h3 class="text-vyoma-blue">Jain Pilgrimage</h3>
				<p class="mx-2">
					 Based on the principles of nonviolence, Jainism is another religion that finds its roots in India. Established by Rishabdeva,the first Tirthankara, or Jain spiritual leader, the religion was then followed and carried forward with 23 other Tirthankara, with the 24th one being Vardhman Mahavira who is credited with re-establishing the religion and providing the foundation for the modern day practice of Jainism. In India, there are many religious destinations that can be visited as part of a Jain Pilgrimage Tour that covers some significant and popular pilgrimage destinations spanning across the country. Some of these places include, Ranakpur Jain Temple, and Dilwara Temple in Rajasthan, Gomateshwara Temple in Karnataka, and the Shri Digambar Jain Lal Mandir in Delhi, and the Palitana Temple in Gujarat. Practicing values of nonviolence and kindness to all living beings, influence of Jainism can be seen in India’s culture and ways of life as well. These Jain temples not only create an aura of devotion and spirituality but are also some of the country’s most beautiful holy places to visit, especially notable among them is the Gomateshwara Statue in Karnataka, which is known for being 18 meter in height and is made out of a single piece of rock, attracting devotees and tourists alike.
				</p>
				<h3 class="text-vyoma-blue">Sikh Pilgrimage</h3>
				<p class="mx-2">
				Sikhism, as a religion, was founded in the 15th century by their spiritual guru, Guru Nanak who established the religion to spread a message of love and equality among all humans, regardless of any and all differences, and called for the worship of the one true God. After Guru Nanak, Sikhism had been carried forward by nine other gurus, who dedicated their life in spreading the message of Guru Nanak. Sikh Pilgrimage Tourism includes the various Gurdwaras or Sikh places of worship that are spread across the country. These gurdwaras are known for being welcoming to everyone and serve as a place of comfort and refuge. Some of the popular religious destinations to visit on a Sikh pilgrimage tour include the Shri Harmandir Sahib or the Golden Temple, Anandpur Sahib, Gurudwara Shri Bangla Sahib, and the Takhat Sachkhand Sri Hazur Sahib. Out of these, the Golden Temple (Shri Harmandir Sahib) is the gurdwara that is the most prominent one and attracts thousands of people every year, from all walks of life. Practice of Sikhism mainly focuses on making sure everyone gets treated equally no matter what, setting the foundation of the religion, which are followed by Sikhs in their daily lives and in their places of worship.
					 
				</p>
			</div>
		</div>
	</section>
</Layout>
