---
import ProjectCard from "../../components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <section class="flex flex-col relative min-h-screen m-4 mt-16 gap-16 items-center p-4">
        <h1 class="pt-24 text-5xl text-vyoma-blue">Packages</h1>

        <div class="flex flex-col gap-16">
            <ProjectCard name="Chardham Pilgrimage Tour" image="/cards/kedarnath.jpg" slug="model">
                <p>The Chardham Pilgrimage Tour covers the sacred shrines of Yamunotri, Gangotri, Kedarnath, and Badrinath in the Himalayas. It is a spiritual journey that offers breathtaking views, devotion, and peace, drawing millions seeking salvation and enlightenment amidst nature's serene beauty and ancient temples' divine aura.</p>
            </ProjectCard>

            <ProjectCard name="Dwadash (12) Jyotirlinga Temples Tour" image="/cards/jyotirlinga.webp" slug="vtol" reversed>
                <p>Jyotirlinga is considered as one of the prime worship spots for the devoters of Lord Shiva. It is believed in Hinduism that jyotirlinga is the resplendent flame of the almighty solidified to make the worship of it simple</p>

            </ProjectCard>

            <ProjectCard name="Kedarnath Badrinath Yatra" image="/cards/badrinath.jpg" slug="launcher">
                <p>Char Dhams in Hinduism hold great importance. Every Hindu devotee dream of visiting the holy Char Dhams to fulfill the spiritual quest of attaining salvation. It is said that glimpses of any one of the Char Dhams remove the sins of one’s life. Of all the major Char Dham shrines, two shrines play a very integral part in fulfilling the pious quest of attaining Moksha. Lord Vishnu (the preserver of earth) and Lord Shiva (the destroyer of earth) are two of three most revered Lords in Hinduism. Offering prayers to these two Gods holds high significance in this religion..</p>

            </ProjectCard>
        </div>
    </section>
</Layout>
