<header class="header">
    <a href="#" class="logo"><img src="/images/image.png" alt="" /></a>
    <div class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/pilgrimage">Pilgrimage</a></li>
            <li><a href="https://dharmayatra.vercel.app/" target="_blank" rel="noopener noreferrer">Iternary</a></li>
            <li><a href="/projects">Packages</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
</header>